body {
  margin:0;
  padding:0;
  background: #0D1117;
}
.curriculum__name {
  width: 100%;
  height: 300px;
  background: #FFC554;
  transform: skewY(-5deg);
}
.name content {
  width: 50%;
  height: 50%;
  position: absolute;
  left:25%;
}
.curriculum__name__content__p-1__p-1 {
  color: #FFF8F0;
  font-family: 'Baloo Tamma 2', sans-serif;
  font-weight: bolder;
  font-size: 65px;
  transform: skewY(0deg);
  margin-left: 20%;
  position: relative;
  margin-top: 30px;
}
.curriculum__name__content__p-1__p-2 {
  color: #FFF8F0;
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  transform: skewY(0deg);
  margin-top: 3%;
  margin-bottom: 0;
  margin-left: 30%;
}

.curriculum__name__img{
  position: absolute;
  top: 18%;
  right: 5%;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  transform: skewY(5deg);
  overflow: hidden;
}
.curriculum__name__img img{
  width: 220px;
  height: 180px;
}
.curriculum__info{
  width: 90%;
  height: auto;
  background: #FFC554;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
}

.curriculum__info__titulo{
  color: #FFF8F0;
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  border-bottom: 2px #FFF8F0 solid;

}

.curriculum__info__datos{
color: #FFF8F0;
font-family: 'Baloo Tamma 2', sans-serif;
font-weight: bolder;
font-size: large;
display: inline;
margin-right: 20px;
}

.curriculum__info__infodato{
color: #392F5A;
font-family: 'Baloo Tamma 2', sans-serif;
font-weight: normal;
font-size: large;
display: inline;
}
.formulario__contenedor{
  background-color: #161B22;
  border-radius: 10px ;
}
.formulario{
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 3% 3% 3% 2%;
}

.formulario__title{
  color: white;
  text-align: center;
}

.Formulario__label{
  display: block;
  font-weight: 700;
  padding: 10px;
  min-height: 40px;
  cursor: pointer; 
  color: white;
}


.Formulario__input , .Formulario__textarea{
  width: 100%;
  background: #0D1117;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  border: 1% solid;
  color: white;
  overflow: hidden;
}

.formulario__btn{
  height: 60px;
  line-height: 60px;
  width: 25%;
  background: greenyellow;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 40%;
  &:hover{
    box-shadow: 3px 0px 30px rgb(163, 163,163, 1);
  }
}

.Formulario__btn{
  
  height: 50px;
  margin-left: 45%;
  margin-bottom: 10px;
  &:hover{
    box-shadow: 3px 0px 30px rgb(163, 163,163, 1);
  }
}

::-webkit-scrollbar {
  display: none;
}

::placeholder{
  color: white;
 }
